*
{
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Lato", serif;
  &::after,
  &::before
  {
    box-sizing: inherit;
  }
}
.container
{
  max-width: 1230px;
  margin: 0 auto;
  width: 100%;
  border: .5px solid #000;
}
.main__top-bg
{
  background: url('../src/images/dots.png'), url('../src/images/circles.png');
  background-repeat: no-repeat;
  background-position: 0 20%, 100% 100%;
}
.main__top
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-title
  {
    h3
    {
      font-family: Lato;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
      color: #1E212C;
    }
    h2
    {
      font-family: Lato;
      font-weight: 900;
      font-size: 46px;
      line-height: 59.8px;
      letter-spacing: 0%;
      color: #1E212C;
    }
    p
    {
      font-family: Lato;
      font-weight: 400;
      // font-size: 16px;
      // line-height: 25.6px;
      letter-spacing: 0%;
      color: #424551;
      max-width: 380px;
    }
    &-p
    {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 12px;
      img
      {
        margin-top: 20px;
      }
    }
    a
    {
      padding: 13px 30px;
      border: 2px solid #F75E05;
      background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
      border-radius: 4px;
      color: #fff;
      font-family: Lato;
      font-weight: 700;
      letter-spacing: 0.5px;
      font-size: 14px;
      line-height: 44px;
    }
  }
}
.main__top-title-p
{
  margin-top: 12px;
}
.mb
{
  margin-bottom: 48px;
}
.main__bottom-left
{
  h3
  {
    margin-top: 100px;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #1E212C;
  }
  h2
  {
    font-family: Lato;
    font-weight: 900;
    font-size: 46px;
    line-height: 59.8px;
    letter-spacing: 0%;
    color: #1E212C;
  }
  &-teacher
  {
    border: 1px solid #E5E8ED;
    box-shadow: 0px 4px 4px -4px #1E212C08;
    box-shadow: 0px 12px 10px -6px #9A9CA50A;
    box-shadow: 0px 30px 24px -10px #9A9CA50D;
    box-shadow: 0px 80px 80px -20px #9A9CA514;
    max-width: 560px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

  }
  img:hover
  {
    transform: scale(110%);
  }
  img
  {
    transition: .3s;
    padding-right: 20px;
  }
  h4
  {
    width: 322px;
    font-family: Lato;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
  }
  p
  {
    font-family: Lato;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    color: #787A80;
  }
}
.span-cours
{
  padding: 8px;
  background: #03CEA4;
  border-radius: 4px;
  color: #fff;
}
.span-cours2
{
  padding: 8px;
  background: #5A87FC ;
  border-radius: 4px;
  color: #fff;
}
.span-cours3
{
  padding: 8px;
  background: #F89828;
  border-radius: 4px;
  color: #fff;
}
.span-cours4
{
  padding: 8px;
  background: #5A87FC;
  border-radius: 4px;
  color: #fff;
}
.span-cours5
{
  padding: 8px;
  background: #F52F6E;
  border-radius: 4px;
  color: #fff;
}
.span-price
{
  font-family: Lato;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #FF4242;
}
.main__bottom-left-teacher-line
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hover-butt
{
  transition: .3s;

}
.hover-butt:hover
{
  background: #00000000;
  color: #F75E05;
}
.span-cours
{
  transition: .3s;
}
.span-cours:hover
{
  background: #00000000;
  color: #03CEA4;
}

.span-cours3
{
  transition: .3s;
}
.span-cours3:hover
{
  background: #00000000;
  color: #F89828;
}
.span-cours2
{
  transition: .3s;
}
.span-cours2:hover
{
  background: #00000000;
  color: #5A87FC;
}
.span-cours5
{
  transition: .3s;
}
.span-cours5:hover
{
  background: #00000000;
  color: #F52F6E;
}
img
{
  transition: .2s;
}
img:hover
{
  transform: scale(105%);
}
.main__bottom-left-teacher
{
  transition: .2s;
}
.main__bottom-left-teacher:hover
{
  transform: rotate(5deg);
}

@media (max-width: 1330px) {
  .container
  {
    max-width: 1110px;
  }
}

@media (max-width: 1200px) {
  .container
  {
    max-width: 980px;
  }
  .main__top img
  {
    max-width: 540px;
  }
  .main__bottom-left-teacher-line
  {
    flex-direction: column;
  }
}
@media (max-width: 1000px) {
  .container
  {
    max-width: 780px;
  }
  .main__top
  {
    flex-direction: column;
  }
}
@media (max-width: 729px) {
  .container
  {
    max-width: 560px;
  }
  .main__top img
  {
    max-width: 440px;
  }
}
@media (max-width: 629px) {
  .container
  {
    max-width: 560px;
  }
  .main__top img
  {
    max-width: 440px;
  }
  .main__top-title-p img
  {
    align-items: center;
    margin-top: 0;
  }
  .main__top-title-p
  {
    align-items: center;
    margin-top: 0;
  }
  .main__top-title h2
  {
    font-size: 36px;
  }
  .main__top-title p
  {
    font-size: 11px;
  }
  .main__top-title h3
  {
    font-size: 13px;
  }
  .main__bottom-left h2
  {
    font-size: 36px;
  }
  .main__bottom-left h4
  {
    font-size: 15px;
  }
  .main__bottom-left span
  {
    font-size: 13px;
  }
  .main__bottom-left h3
  {
    font-size: 13px;
  }
  .main__bottom-left p
  {
    font-size: 13px;
  }
}
@media (max-width: 558px) {
  .main__top img
  {
    max-width: 260px;
  }
  .container
  {
    max-width: 350px;
  }
  .main__top-bg
  {
    background: url('../src/images/dots.png'), url('../src/images/circles.png');
    background-repeat: no-repeat;
    background-position: 0 20%, 100% 100%;
    background-size: 50px;
  }
  .main__bottom-left-teacher img
  {
    max-width: 150px;
  }
  .main__bottom-left-teacher h4
  {
    margin: 0;
    max-width: 150px;
  }
  .main__bottom-left-teacher p
  {
    margin: 0;
  }
  .main__top-title .main-top-a
  {
    font-size: 9px;
    padding: 8px 20px;
  }
}